/*
 * hyo2.css_t
 */



















/*noinspection CssInvalidImport,CssUnknownTarget*/
@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    color: #000;
    margin: 26px 0 0 0;
    padding: 0;
}

div.document {
    width: 965px;
    margin: 0 auto;
}

div.deck {
    font-size: 16px;
}

p.developmentversion {
    color: red;
}

div.related {
    width: 945px;
    padding: 5px 10px;
    background: #235b8c;
    color: #e5dfd5;
    margin: 15px auto 15px auto;
}

div.related a {
    color: white;
}

div.related a:hover {
    color: #007ec6;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 165px;
}

div.sphinxsidebar {
    width: 165px;
}

hr {
    border: 1px solid ;
}

div.body {
    background-color: white;
    color: #164670;
    padding: 0 30px 0 30px;
}

img.hyologo {
    padding: 0 0 10px 10px;
    float: right;
}

div.footer {
    width: 950px;
    margin: 10px auto 30px auto;
    padding-right: 15px;
    font-size: 12px;
    color: #cccdce;
    text-align: right;
}

div.footer a {
    color: #007ec6;
}

div.sphinxsidebar a {
    color: #235b8c;
    text-decoration: none;
    border-bottom: 1px dashed #8bb3d6;
}

div.sphinxsidebar a:hover {
    border-bottom: 1px solid #007ec6;
}

div.sphinxsidebar {
    font-size: 11px;
    line-height: 1.2;
}

div.sphinxsidebarwrapper {
    padding: 5px 8px;
}

div.sphinxsidebarwrapper p.logo {
    padding: 0 0 16px 0;
    margin: 0;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #235b8c;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0;
}

div.sphinxsidebar h4 {
    font-size: 18px;
}

div.sphinxsidebar h3 a {
    color: #235b8c;
}

div.sphinxsidebar p.logo a,
div.sphinxsidebar h3 a,
div.sphinxsidebar p.logo a:hover,
div.sphinxsidebar h3 a:hover {
    border: none;
}

div.sphinxsidebar p {
    color: #8bb3d6;
    margin: 10px 0;
}

div.sphinxsidebar ul {
    margin: 10px 0;
    padding: 0;
    color: #000;
}

div.sphinxsidebar input {
    border: 1px solid #ccc;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 1em;
}

/* -- body styles ----------------------------------------------------------- */

a {
    color: #235b8c;
    text-decoration: underline;
}

a:hover {
    color: #007ec6;
    text-decoration: underline;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: normal;
    margin: 30px 0px 10px 0px;
    padding: 0;
}

div.body h1 { margin-top: 0; padding-top: 0; font-size: 130%; }
div.body h2 { font-size: 120%; }
div.body h3 { font-size: 110%; }
div.body h4 { font-size: 105%; }
div.body h5 { font-size: 105%; }
div.body h6 { font-size: 100%; }

div.body h1 a.toc-backref,
div.body h2 a.toc-backref,
div.body h3 a.toc-backref,
div.body h4 a.toc-backref,
div.body h5 a.toc-backref,
div.body h6 a.toc-backref {
    color: inherit!important;
    text-decoration: none;
}

a.headerlink {
    color: #ddd;
    padding: 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    color: #444;
    background: #eaeaea;
}

div.body p, div.body dd, div.body li {
    line-height: 1.4em;
}

div.admonition {
    background: #fafafa;
    margin: 20px -30px;
    padding: 10px 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

div.admonition p.admonition-title {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
}

div.admonition p.last {
    margin-bottom: 0;
}

div.highlight{
    background-color: white;
}

dt:target, .highlight {
    background: #FAF3E8;
}

div.note {
    font-size: 10px;
    background-color: ;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre, tt {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
}

img.screenshot {
}

tt.descname, tt.descclassname {
    font-size: 0.95em;
}

tt.descname {
    padding-right: 0.08em;
}

img.screenshot {
    -moz-box-shadow: 2px 2px 4px #eee;
    -webkit-box-shadow: 2px 2px 4px #eee;
    box-shadow: 2px 2px 4px #eee;
}

table.docutils {
    border: 1px solid #888;
    -moz-box-shadow: 2px 2px 4px #eee;
    -webkit-box-shadow: 2px 2px 4px #eee;
    box-shadow: 2px 2px 4px #eee;
}

table.docutils td, table.docutils th {
    border: 1px solid #888;
    padding: 0.25em 0.7em;
}

table.field-list, table.footnote {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table.footnote {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #eee;
    background: #fdfdfd;
    font-size: 0.9em;
}

table.footnote + table.footnote {
    margin-top: -15px;
    border-top: none;
}

table.field-list th {
    padding: 0 0.8em 0 0;
}

table.field-list td {
    padding: 0;
}

table.footnote td.label {
    width: 0px;
    padding: 0.3em 0 0.3em 0.5em;
}

table.footnote td {
    padding: 0.3em 0.5em;
}

dl {
    margin: 0;
    padding: 0;
}

dl dd {
    margin-left: 30px;
}

blockquote {
    margin: 0 0 0 30px;
    padding: 0;
}

ul {
    margin: 4px 0 8px 20px;
    padding: 0;
}

ol.arabic {
    padding-bottom: 10px;
}

pre {
    background: #5798bd;
    padding: 7px 10px;
    margin: 15px 0;
    border: 1px solid #C7ECB8;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    line-height: 1.3em;
}

tt {
    background: #5798bd;
    color: #222;
    /* padding: 1px 2px; */
}

tt.xref, a tt {
    background: #5798bd;
    border-bottom: 1px solid white;
}

a.reference {
    text-decoration: none;
    border-bottom: 1px dashed #DCF0D5;
}

a.reference:hover {
    border-bottom: 1px solid #6D4100;
}

a.footnote-reference {
    text-decoration: none;
    font-size: 0.6em;
    vertical-align: top;
    border-bottom: 1px dashed #DCF0D5;
}

a.footnote-reference:hover {
    border-bottom: 1px solid #6D4100;
}

a:hover tt {
    background: #EEE;
}